
.header, .nav-element {
    font-size: 32px;
    font-weight: 700;
    color: #ff0000;
    font-family: sans-serif;
    text-align: center;
}

.nav-element ul li :hover{ 
 list-style: none;  
 background: black;
}

.photo{
    text-align: center;
    width: 700;
}

.main{
 margin: 2% 21% 0% 21%;
   text-align: center;
   font-family: sans-serif;
}

.btn{
    font-family:sans-serif;
    width: 180px;
    height: 50px;;
    display: inline-block;
color:white;
background-color: red;
}

.btn:hover{
    background: black;
    color: white;
    color-interpolation-filters: auto;
}

.footer{
    width: 1070px;
    height: 39px;
    margin-left: 1140px;
    font-weight: bold;
}

li{
    display: inline;
    position: relative;
    margin: 0%;
    padding: 80px;
}



